# Backend Configuration (for Railway)
MONGODB_URI=mongodb+srv://preloved:12345@cluster0.zulxw.mongodb.net/preloved_mern?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=hellothisishiraiftikharsigningfrombackend
NODE_ENV=production
PORT=5000

# CORS Configuration
FRONTEND_URL=https://your-frontend-domain.vercel.app
